:root {
  font-family: "Space Mono", monospace;
  color-scheme:  dark;
  // color: rgba(255, 255, 255, 0.87);
  color: rgb(198, 154, 255);
  // background-color: #242424;
  background-color: rgb(145, 220, 255);
  text-shadow: 10px 6px 0px rgb(224, 224, 224);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;
  font-stretch: 50%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
